#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #e9e4da;
  color: black;
}

.App-icon {
  width: 150px;
  height: 150px;
}

header {
  text-align: center;
}

.img-fluid {
  width: 300px;
  height: auto;
}

.App-footer {
  margin-top: 3rem;
  font-size: 0.8rem;
  color: #888;
}

a {
  color: #555;
  margin-bottom: 20px;
}
