.Dictionary .SearchArea {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.Dictionary .ResultsSection {
  background: #f9f9f9;
  padding: 30px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.Dictionary .input-form {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.MeaningSection {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.Dictionary .submit-button {
  margin-top: 15px;
  padding: 12px 25px;
  font-size: 18px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hint {
  font-size: 10px;
  color: #666;
  margin-top: 30px;
  margin-bottom: 0;
}
