.Dictionary .SearchArea {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  width: 600px;
  max-width: 600px;
}

.Dictionary .input-form {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.Dictionary .submit-button {
  margin-top: 15px;
  padding: 12px 25px;
  font-size: 18px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hint {
  font-size: 10px;
  color: #666;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .Dictionary .SearchArea {
    padding: 15px;
    max-width: 300px;
  }

  .Dictionary .input-form,
  .Dictionary .submit-button {
    padding: 12px;
    font-size: 0.95rem;
  }
}
