.MeaningSection {
  background: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

.PartOfSpeech {
  font-size: 30px;
  color: #e66f61;
  margin-bottom: 10px;
}


@media (max-width: 600px) {
   .MeaningSection {
    max-width: 300px;
  }
}