.Photos img {
  gap: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.Photos {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}