.Photos img {
  gap: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.Photos {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
