.ResultsSection {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

li {
  text-align: left;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
