.ResultsSection {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 600px;
}

h2 {
  font-size: 40px;
}

h3 {
  color: #f28785;
}

@media (max-width: 600px) {
   .ResultsSection {
    padding: 15px;
    max-width: 300px;
  }
}