.Synonyms-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #e66f61;
}

.Synonyms {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

li {
  text-align: left;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
